.checkbox {
    opacity: 0;
    position: absolute;

    & + label {
        display: flex;
        flex-direction: row;
        position: relative;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            display: inline-block;
            background-color: #f7f7f7;
            border: 3px solid #3ac794;
            margin-right: 5px;
            border-radius: 5px;
            box-sizing: border-box;

            transition: .3s all ease-in-out;
        }

        &::after {
            font-family: 'Font Awesome 5 Free';
            content: "\f00c";
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 20px;
            font-weight: 900;

            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            text-align: center;
            text-align: center;
            font-size: 12px;
            color: #f7f7f7;
            transform: scale(0);

            transition: .3s all ease-in-out;
        }
    }

    &:checked {
        & + label::before {
            border-width: 10px;
        }

        & + label::after {
            transform: scale(1);
        }
    }
}

.radiobox {
    opacity: 0;
    position: absolute;

    & + label {
        display: flex;
        flex-direction: row;
        position: relative;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            display: inline-block;
            background-color: #f7f7f7;
            border: 2px solid #3ac794;
            margin-right: 5px;
            border-radius: 50%;
            box-sizing: border-box;

            transition: .3s all cubic-bezier(.42,0,.41,2.55);
        }
    }

    &:checked {
        & + label::before {
            border-width: 6px;
        }
    }
}