.error-check {
    opacity: 0;
    position: absolute;
    // display: none;
    // visibility: hidden;

    & + label {
        .error-section {
            display: grid;
            max-width: 300px;
            grid-template-columns: 50px auto;
            grid-column-gap: 20px;
            padding: 10px;
            background-color: #c90e36;
            color: #f3f3f3;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 10px;
            transition: .3s all ease-in-out;
            cursor: pointer;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);

            .error-icon {
                width: auto;
                display: flex;
                justify-content: center;

                .error-icon-svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .error-content {
                h3.error-title {
                    margin: 0 0 10px;
                }

                p {
                    margin: 0;
                }
            }

            &:hover {
                filter: blur(2px);
                opacity: .7;
            }
        }
    }

    &:checked + label .error-section {
        animation: .5s ease-in-out 0s hideerror;
        animation-fill-mode: forwards;
    }

    &:not(:checked) + label .error-section {
        animation: .5s cubic-bezier(.42,0,.25,1.82) 0s showerror;
        animation-fill-mode: forwards;
    }
}

@keyframes hideerror {
    from {
        top: 10px;
        opacity: .7;
    }
    to {
        top: -100px;
        opacity: 0;
    }
}

@keyframes showerror {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 10px;
        opacity: 1;
    }
}