* {
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    nav.topnav {
        width: 100%;
        flex-direction: row;
        position: relative;
        z-index: 2;

        .brand {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            padding: 0 10px;

            a {
                height: 70%;

                img {
                    height: 100%;
                }
            }
        }

        div.nav-wrapper {
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-basis: auto;
            
            div.left {
                margin-right: auto;
            }

            div.nav-content {
                display: flex;
                // z-index: 1;

                a.nav-link {
                    display: inline-block;
                    line-height: 60px;
                    color: #868686;
                    text-decoration: none;
                    padding: 0 15px;
                }

                a.nav-link.bg-dark {
                    color: #f3f3f3;
                }
    
                a.nav-link:hover, a.nav-link.active {
                    // background-color: #dadada;
                    color: #1f1f1f;
                }
    
                // a.nav-link.active {
                    
                // }
    
                // a:first-child  {
                //     margin-left: 0px;
                // }
    
                // a:last-child {
                //     margin-right: 0px;
                // }

                a.avatar {
                    width: 40px;
                    height: 40px;
                    background: center center/cover no-repeat url("/assets/images/user.png") !important;
                    background-color: #7b7b7b !important;
                    border-radius: 50%;
                    border: 2px solid #7b7b7b;
                }
            }

        }
    }

    // nav.topnav, nav.topnav * {
    //     z-index: 1;
    // }

    header.header {
        width: 100%;
        min-height: 100vh;
        // height: 100vh;
        margin-top: -60px;
        // background: center center / cover no-repeat url("/assets/images/bg1.jpg");
        // background: #f5f5f5;
        position: relative;
        // z-index: -1;

        .bg {
            position: absolute;
            z-index: -1;
            width: 100%;
            overflow: hidden;
            height: 100vh;
            background-color: #f3f3f3;

            #illustrator-svg {
                height: 100vh;
                width: auto;
                position: absolute;
                right: 0;
            }
        }        


        div.header-wrapper {
            max-width: 1300px;
            margin: 0 auto;
            // height: calc(100% - 60px);
            min-height: calc(100vh - 60px);
            // min-height: 100vh;
            padding-top: 60px;
            display: grid;
            grid-template-columns: 50% 50%;
            direction: rtl;

            div.content {
                // max-width: calc(50%);
                display: table;
                height: 100%;

                .inner {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 10px;
                    text-align: center;

                    h2 {
                        margin: 0;
                    }

                    form.sign-up-form {
                        position: relative;
                        max-width: 400px;
                        margin: 0 auto;

                        .email-input {
                            height: 50px;
                            width: 100%;
                            border-radius: 10px;
                            border: none;
                            padding: 0 100px 0 10px;
                            box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);
                            font-size: 1.3em;
                        }
    
                        .email-submit {
                            height: 50px;
                            border-radius: 0 10px 10px 0;
                            border: none;
                            border-bottom: 5px solid #218662;
                            background-color: #2ab483;
                            position: absolute;
                            right: 0;
                            top: 0; 
                            width: 95px;
                            color: #f3f3f3;
                            cursor: pointer;
                        }

                        .email-submit:hover {
                            background-color: #239c72;
                        }

                        .email-submit:active {
                            border-bottom: none;
                        }
                    }

                }
            }

            div.illustration-wrapper {
                height: 100%;

                div.illustration {
                    height: 100%;
                    width: 100%;
                    background: center center / contain no-repeat url(/assets/images/illustration3.png);

                    animation: 1s ease-out 0s showup;
                }

                @keyframes showup {
                    from {
                        margin-top: 100px;
                        opacity: 0;
                    }
                    to {
                        margin-top: 0;
                        opacity: 1;
                    }
                }
            }
        }

        div.header-wrapper > * {
            direction: ltr;
        }
    }

    div.info {
        background-color: #e1f940;
        overflow: hidden;
        min-height: 100vh;
        position: relative;
        z-index: 0;

        div.bg1 {
            background-color: #f3f3f3;
            clip-path: polygon(39% 0px, 33.49% 20.5%, 14.04% 35.25%, 0 64.75%, 0px 0px);
            height: 60%;
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        div.bg2 {
            background-color: rgba(243, 243, 243, 0.5);
            clip-path: polygon(41.73% 0px, 34.97% 25.75%, 14.34% 39.25%, 0px 64.75%, 0px 0px);
            height: 60%;
            position: absolute;
            width: 100%;
            z-index: -2;
        }
        
        h2.title {
            font-weight: 100;
            font-size: 2.5em;
            padding: 0 10px;
        }

        div.content {
            display: grid;
            grid-template-columns: 49% 2% 49%;
            padding: 10px 0;
            // grid-column-gap: 5px;

            div.desc {
                padding: 0 10px;
                position: relative;

                .desc-content {
                    display: grid;
                    font-weight: 300;
                    grid-column-gap: 10px;

                    h3.title {
                        font-weight: 400;
                        margin: 0;
                    }

                    p {
                        margin: 5px 0;
                    }

                    .icon {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .icon-container {
                            margin: 0 auto;
                            max-width: 60px;

                            img {
                                width: 100%;
                            }
                        }
                    }


                }
            }

            div.left {
                grid-column: 1;
                text-align: right;

                .desc-content {
                    grid-template-columns: auto 80px;
                }
            }

            div.separator {
                grid-column: 2;
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            div.right {
                grid-column: 3;

                .desc-content {
                    grid-template-columns: 80px auto;
                    // direction: rtl;
                }
            }

            // .desc1 {
            //     grid-column: 1;
            //     grid-row: 1 / span 2;
            // }

            // .desc2 {
            //     grid-column: 3;
            //     grid-row: 3 / span 2;
            // }

            // .separator {
            //     grid-column: 2;
            //     grid-row: 2 / span 2;
            // }

            .separator::before {
                content: "";
                border: 1px dashed #272727;
                height: 100%;
                position: relative;
            }

            div[class^="circle-parrent"] {
                width: 20px;
                height: 20px;
                background-color: #e14b4b;
                clip-path: circle(50% at 50% 50%);
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-basis: auto;
                position: absolute;
                top: -10px;
                z-index: 10;

                .circle-inner1 {
                    width: 14px;
                    height: 14px;
                    background-color: #e1f940;
                    margin: 0 auto;
                    clip-path: circle(50% at 50% 50%);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-basis: auto;

                    .circle-inner2 {
                        width: 8px;
                        height: 8px;
                        background-color: #bd0909;
                        margin: 0 auto;
                        clip-path: circle(50% at 50% 50%);
                    }
                }
            }

            div.circle-parrent-bot {
                bottom: -10px !important;
                top: unset;
            }
        }
    }

    .testimonial {
        background-color: #f0f0f0;
        position: relative;

        .bg1 {
            background: top left / 100% 100% no-repeat url("/assets/images/bgtesti1.png");
            position: absolute;
            width: 100%;
            height: 95%;
            z-index: 0;
        }

        .slider-wrapper {
            max-width: 1024px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            z-index: 1;

            h1.title {
                text-align: center;
                font-weight: 100;
                margin-top: -50px;
            }

            .slider {
                position: relative;

                .button {
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    background: #fff;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5em;
                    border-radius: 50%;
                    top: calc(50% - 25px);
                    cursor: pointer;
                    z-index: 1;
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
                }

                .button:hover {
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
                }

                .button:active {
                    background: #dddddd;
                }

                .button.prev {
                    left: calc(50% - 250px);
                }

                .button.next {
                    right: calc(50% - 250px);
                }

                .slider-content {
                    display: flex;
                    flex-direction: row;
                    perspective: 10px;
                    justify-content: center;
                    position: relative;
                    height: 286px;

                    .content {
                        width: 200px;
                        flex-shrink: 0;
                        padding: 10px;
                        background: #fff;
                        border-radius: 10px;
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
                        position: absolute;
                        height: 286px;
                        transition: .485s all ease-in-out;
    
                        .person {
                            margin: 10px 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            min-height: 55px;
    
                            .avatar {
                                display: inline-block;
                                width: 50px;
                                height: 50px;
                                vertical-align: middle;
                                box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
                                background-position: center center;
                                background-size: cover;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                        }
    
                        .message {
                            font-weight: 300;
                            padding: 10px;
                        }
                    }

                    .content:first-child {
                        box-shadow: none;
                    }
    
                    .content:nth-child(-n+2) {
                        transform: translateX(-75px) translateZ(-2px);
                        filter: blur(1px);
                    }
                    
                    .content:nth-child(3) {
                        z-index: 1;
                    }
    
                    .content:nth-child(n+4) {
                        transform: translateX(75px) translateZ(-2px);
                        filter: blur(1px);
                    }

                    .content:nth-child(n+5) {
                        box-shadow: none;
                        z-index: -1;
                    }

                    .content:nth-child(n+6) {
                        display: none;
                    }
                }
            }
        }

        .slider-wrapper > * {
            z-index: inherit;
        }
    }

    footer.footer {
        background: #f0f0f0;
        overflow: hidden;
        
        .footer-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 32%);
            grid-column-gap: 3%;

            .user-count {
                grid-column: 1 / span 3;
                text-align: center;
                padding: 70px 10px;
                font-size: 1.8em;
                font-weight: 100;
            }

            .footer-content {
                padding: 10px;
            }

            .simple-about {
                img {
                    width: 100%;
                }
            }

            .u-link-wrapper {
                a {
                    color: #1f1f1f;
                    text-decoration: none;
                }
            }

            .socials {
                .social-icons {
                    font-size: 2em;

                    .fa-facebook-square {
                        color: #3b5998;
                    }

                    .fa-twitter {
                        color: #00aced;
                    }

                    .fa-instagram {
                        color: #e1306c;
                    }

                    .fa-youtube {
                        color: #ff0000;
                    }
                }
            }

            .copy {
                grid-column: 1 / span 3;
                padding: 50px 10px;
                text-align: center;
                font-weight: 300;
            }
        }
    }

    .dashboard-content {
        display: grid;
        grid-template-columns: 300px auto;
        height: calc(100vh - 60px);

        .sidenav {
            overflow-y: auto;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
            z-index: 1;
            background: #f3f3f3;

            .user-profile {
                display: grid;
                grid-template-columns: 50px auto;
                padding: 0 33px 10px;

                .avatar {
                    width: auto;
                    height: 50px;
                    background: center center/cover no-repeat url("/assets/images/user.png") !important;
                    background-color: #b3b3b3 !important;
                    border-radius: 50%;
                    border: 2px solid #b4b4b4;
                }

                .name {
                    padding-left: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 50px;
                }
            }

            .nav-content {
                display: flex;
                flex-direction: column;

                .nav-link {
                    line-height: 40px;
                    text-decoration: none;
                    color: #868686;
                    padding-left: 33px;
                    outline: none;
                }

                .nav-link:hover, .nav-link.active {
                    background-color: #e6e6e6;
                    color: #1f1f1f;
                }
            }
             
            .nav-content.top {
                margin-bottom: auto;
            }

            .nav-content.bottom {
                border-top: 1px solid #d2d2d2;
                padding-top: 10px;
            }
        }

        .fragment {
            overflow-y: auto;
            position: relative;
            background-color: #f8f8f8;

            .loader-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
        
                .animation-container {
                    .animation-loading {
                        width: 200px;
        
                        .animation-svg {
                            width: 100%;
                            height: auto;
        
                            .sad {
                                display: none;
                            }
        
                            .smile {
                                // display: none;
                            }

                            .remover {
                                fill: #f8f8f8 !important;
                            }
                        }
                    }

                    .show-animation {
                        transform: scale(1);
                        animation: 0.5s cubic-bezier(.42,0,.51,1.41) 0s showAnimation;
                    }

                    .hide-animation {
                        transform: scale(0);
                        animation: 0.5s ease-in-out 0s hideAnimation;
                    }

                    @keyframes showAnimation {
                        from {
                            transform: scale(0);
                        }
                        to {
                            transform: scale(1);
                        }
                    }

                    @keyframes hideAnimation {
                        from {
                            transform: scale(1);
                        }
                        to {
                            transform: scale(0);
                        }
                    }

                    .loader-error-section {
                        display: none;
                        flex-direction: column;
                        align-items: center;

                        .error-title {
                            font-size: 2em;
                            font-weight: 100;
                            margin: 20px 0 0;
                            text-align: center;
                        }

                        .error-title::first-letter {
                            text-transform: uppercase;
                        }

                        .error-details {
                            font-weight: 300;
                        }
                    }

                    .loader-error-section.show-error {
                        animation: .3s cubic-bezier(.42,0,.51,1.41) 0s showError;
                        animation-fill-mode: forwards;
                        display: flex;
                    }

                    // .loader-error-section.hide-error {
                    //     animation: .3s ease-in-out 0s hideError;
                    //     animation-fill-mode: forwards;
                    //     // display: none;
                    // }

                    @keyframes showError {
                        from {
                            display: none;
                            transform: scale(0);
                        }
                        to {
                            display: flex;
                            transform: scale(1);
                        }
                    }

                    // @keyframes hideError {
                    //     from {
                    //         display: flex !important;
                    //         transform: scale(1);
                    //     }
                    //     to {
                    //         display: none;
                    //         transform: scale(0);
                    //     }
                    // }
                }
            }

            .fragment-content {
                color: #1f1f1f;
                min-height: 100%;
                position: relative;
                display: none;
                padding: 10px 30px;

                .summary {
                    display: grid;
                    grid-template-columns: repeat(3, calc(100% / 3));
                }

                .summary-section {
                    padding: 10px;
                    // background-color: #2eb887;
                    margin: 10px;
                    border-radius: 10px;
                    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);

                    .title {
                        font-weight: bold;
                    }

                    &.numstudent, &.rank {
                        background-color: #e1f940;
                    }

                    &.numcourse, &.course-read {
                        background-color: #10bc9d;
                    }

                    &.numexam, &.exam-finished {
                        background-color: #ec6d6d;
                    }
                }

                .loader-make {
                    display: grid;
                    grid-template-columns: 100px auto;
                    width: 300px;
                    padding: 10px;
                    opacity: .5;
                    opacity: 1;
                    background-color: #1f1f1fb3;
                    border-radius: 20px;
                    color: #f3f3f3;
                    position: absolute;
                    top: calc(50vh - 60px);
                    left: calc(50% - 150px);
                    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
                    display: none;

                    .spin {
                        width: 100px;
                        height: 100px;
                        border: 12px solid #f2f2f2;
                        border-radius: 50%;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        animation: 1s linear 0s spin;
                        animation-iteration-count: infinite;
                    }

                    @keyframes spin {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(360deg);
                        }
                    }

                    .message {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                    }
                }

                .custom-form-exam {
                    .quest-section {
                        .title {
                            font-weight: bold;
                            margin-top: 20px;
                        }

                        textarea {
                            min-width: 100%;
                            min-height: 150px;
                            height: 150px;
                        }

                        .ans-section {
                            display: grid;
                            grid-template-columns: 30px auto;

                            textarea {
                                min-width: 100%;
                                min-height: 50px;
                                height: 50px;
                            }
                        }
                    }
                }

                .dataTables_wrapper {
                    margin: 20px 0;
                }

                .btn-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                .exam-container {
                    min-height: calc(100vh - 180px);
                    background-color: #f3f3f3;
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
                    user-select: none;

                    .exam-header {
                        display: grid;
                        grid-template-columns: 150px auto 32px 100px;
                        background-color: #3f6187;
                        padding: 10px;
                        color: #fff;

                        .navigation {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            .go-to {
                                background-color: #fff;
                                color: #1f1f1f;
                                padding: 3px 5px;
                                border-radius: 8px;
                                margin-right: 5px;
                                cursor: pointer;
                            }

                            .exam-map {
                                position: absolute;
                                background-color: #fff;
                                color: #1f1f1f;
                                display: grid;
                                grid-template-columns: repeat(10, 40px);
                                top: 44px;
                                left: 6px;
                                border-radius: 8px;
                                box-shadow: 0 2px 4px rgba(0,0,0,0.3);
                                padding: 10px;
                                animation: .5s ease-in-out 0s showmap;
                                display: none;
                                
                                &::before {
                                    content: "";
                                    position: absolute;
                                    border-left: 8px solid transparent;
                                    border-right: 8px solid transparent;
                                    border-bottom: 9px solid #fff;
                                    top: -9px;
                                    left: 12px;
                                }

                                .number {
                                    padding: 3px 5px;
                                    text-align: center;
                                    background-color: #bfbfbf;
                                    margin: 3px;
                                    border-radius: 5px;
                                    cursor: pointer;

                                    &.filled {
                                        background-color: #42c4ef;
                                    }

                                    &.marked {
                                        background-color: #e07e7e;
                                    }

                                    &.current {
                                        background-color: #3f6187;
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        .detail {
                            line-height: 32px;
                            padding: 0 10px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            span:nth-child(n+2) {
                                padding-left: 15px;
                            }
                        }

                        .countdown {
                            background-color: #fff;
                            padding: 3px 5px;
                            color: #1f1f1f;
                            border-radius: 8px;
                            line-height: 26px;
                        }
                    }

                    .exam-content {
                        padding: 10px;
                        text-align: justify;

                        // .question-section {

                        // }

                        .answer-section {
                            display: grid;
                            grid-template-columns: 32px auto;
                            grid-gap: 5px;
                            margin-top: 20px;
                        }
                    }
                }

                .exam-result {
                    background: #f3f3f3;
                    padding: 20px;
                    text-align: center;
                    border-radius: 10px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
                    display: none;

                    .exam-title {
                        font-weight: bold;
                        font-size: 1.5em;
                    }

                    .result {
                        font-weight: bold;
                        margin: 15px 0 0;
                    }

                    .button-group {
                        margin-top: 20px;
                    }
                } 

                .chat-container {
                    background-color: #f3f3f3;
                    border-radius: 10px;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
                    overflow: hidden;
            
                    .from {
                        padding: 10px;
                        background-color: #47b14c;
                        color: #fff;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
                    }
            
                    .chat-messages {
                        padding: 30px 70px;
                        height: calc(100vh - 280px);
                        overflow-y: auto;
            
                        .bubble-container {
                            display: flex;
                            flex-direction: row;
            
                            .bubble {
                                padding: 10px 20px;
                                margin: 10px 0;
                                border-radius: 10px;
                                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
                                max-width: 70%;
                                position: relative;
            
                                &.my {
                                    margin-left: auto;
                                    border-radius: 10px 0 10px 10px;
                                    background-color: #dcf8c6;
            
                                    &::before {
                                        content: "";
                                        border-bottom: 12px solid transparent;
                                        border-left: 10px solid #dcf8c6;
                                        position: absolute;
                                        right: -10px;
                                        top: 0;
                                    }
                                }
            
                                &.other {
                                    border-radius: 0 10px 10px 10px;
                                    background-color: #fff;
            
                                    &::before {
                                        content: "";
                                        border-bottom: 12px solid transparent;
                                        border-right: 10px solid #fff;
                                        position: absolute;
                                        left: -10px;
                                        top: 0;
                                    }
                                }

                                .name {
                                    font-weight: bold;
                                    padding: 10px 0;
                                }
            
                                .time-stamp {
                                    font-size: .8em;
                                    margin-top: 10px;
                                    color: #414141;
                                    font-style: italic;
                                }
                            }
                        }
                    }
            
                    .text {
                        padding: 20px;
                        box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
                            position: relative;
            
                        #message {
                            border-radius: 10px;
                            line-height: 40px;
                            background-color: #fff;
                            color: #1f1f1f;
                            padding: 0 20px;
                            border-radius: 20px;
                            width: 100%;
                            border: 1px solid #dadada;
                        }
                    }
                }
            }
        }
    }

    .login-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: center center / cover url("/assets/images/loginback.png");

        .form-container {
            background-color: #f2f2f2;
            padding: 20px 35px 0;
            border-radius: 20px;
            box-shadow: 0 6px 8px rgba(0, 0, 0, .4);

            .title-section {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 125px;
                }

                h1 {
                    margin: 0;
                    font-size: 1.3em;
                    font-weight: 300;
                }
            }

            .login-form {
                margin-top: 35px;

                .form-group {
                    margin: 25px 0;
                    position: relative;

                    .input {
                        width: 300px;
                        line-height: 40px;
                        background-color: #f9f9f9;
                        border: 0;
                        padding: 0 22px 0 60px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
                        color: #1f1f1f;
                    }

                    &.username::before, &.password::before {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: #e6e6e6;
                        border-radius: 10px 0 0 10px;
                        font-family: 'Font Awesome 5 Free';
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        line-height: 1px;
                        font-weight: 900;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                    }

                    &.username::before {
                        content: "\f007";
                    }

                    &.password::before {
                        content: "\f023";
                    }

                    &.submit-area {
                        display: flex;
                        justify-content: center;

                        .submit {
                            &::before {
                                content: "\f2f6";
                                font-family: 'Font Awesome 5 Free';
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                line-height: 1px;
                                font-weight: 900;
                                padding-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    .signup-container {
        background: center center / cover no-repeat url(/assets/images/loginback.png);
        display: flex;
        justify-content: center;

        .form-container {
            background-color: #f2f2f2;
            padding: 20px 35px 0;
            border-radius: 20px;
            box-shadow: 0 6px 8px rgba(0,0,0,0.4);
            margin: 50px;
            width: 500px;

            .title-section {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 125px;
                }

                .title {
                    margin: 0;
                    font-size: 1.3em;
                    font-weight: 300;
                }
            }

            .signup-form {
                margin-top: 35px;

                .form-group {
                    margin: 8px 0;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: #e6e6e6;
                        border-radius: 10px 0 0 10px;
                        font-family: 'Font Awesome 5 Free';
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        line-height: 1px;
                        font-weight: 900;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                    }

                    &.name::before {
                        content: "\f406";
                    }

                    &.school::before {
                        content: "\f549";
                    }

                    &.grade::before {
                        content: "\f19d";
                    }

                    &.birthdate::before {
                        content: "\f1fd";
                    }

                    &.address::before {
                        content: "\f3c5"
                    }

                    &.phone::before {
                        content: "\f095";
                    }

                    &.email::before {
                        content: "\f1fa";
                    }

                    &.password::before {
                        content: "\f023";
                    }

                    .input {
                        width: 100%;
                        line-height: 40px;
                        background-color: #f9f9f9;
                        border: 0;
                        padding: 0 22px 0 60px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
                        color: #1f1f1f;
                        height: 40px;
                    }
                }

                .radio-group {
                    margin: 8px 0;
                    display: flex;

                    .radiobox + label {
                        margin: 10px 30px;
                    }
                }

                .submit-area {
                    margin: 35px 0;
                    text-align: center;
                }
            }
        }
    }

    .about-container {
        .title {
            font-weight: bold;
            font-size: 1.3em;
            margin: 20px 0;
        }

        .person {
            display: grid;
            grid-template-columns: 200px auto;
            grid-gap: 20px;
            margin: 20px 0;

            .person-avatar img {
                border-radius: 50%;
            }

            .detail {
                display: flex;
                flex-direction: column;
                justify-content: center;

                div {
                    padding: 5px 0;
                }
            }
        }
    }
}

.action-btn {
	padding: 5px;
	cursor: pointer;
}

.action-btn.yellow:hover {
    color: #c0c007;
}

.action-btn.grey:hover {
    color: #686868;
}

.action-btn.lgrey:hover {
    color: #cecece;
}

.action-btn.blue:hover {
    color: #00aced;
}

.action-btn.red:hover {
    color: #de5252;
}

.main-wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 7px;
    margin: 0 3px;
    // box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    border: none;
}

.btn.red {
    background-color: #de5252;
    color: #f3f3f3;
}

.btn.red:hover {
    background-color: #a83f3f;
}

.btn.yellow {
    background-color: #e1f940;
    color: #1f1f1f;
}

.btn.yellow:hover {
    background-color: #c1d637;
}

.btn.green {
    background-color: #2ab483;
    color: #f3f3f3;
}

.btn.green:hover {
    background-color: #22926b;
}

.btn.lgrey {
    background-color: #ededed;
    color: #1f1f1f;
}

.btn.lgrey:hover {
    background-color: #cecece;
}

.btn.round {
    border-radius: 20px;
}

button.btn:disabled, input.btn:disabled {
    background-color: #d1d1d1 !important;
    color: #696969 !important;
}

@keyframes showmap {
    from {
        top: 70px;
        opacity: 0;
    }
    to {
        top: 44px;
        opacity: 1;
    }
}