.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.checkbox + label::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #f7f7f7;
  border: 3px solid #3ac794;
  margin-right: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.checkbox + label::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f00c";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 20px;
  font-weight: 900;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  text-align: center;
  font-size: 12px;
  color: #f7f7f7;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.checkbox:checked + label::before {
  border-width: 10px;
}

.checkbox:checked + label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.radiobox {
  opacity: 0;
  position: absolute;
}

.radiobox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.radiobox + label::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #f7f7f7;
  border: 2px solid #3ac794;
  margin-right: 5px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s all cubic-bezier(0.42, 0, 0.41, 2.55);
  transition: 0.3s all cubic-bezier(0.42, 0, 0.41, 2.55);
}

.radiobox:checked + label::before {
  border-width: 6px;
}
/*# sourceMappingURL=custombox.css.map */