.custom-form {
  width: 100%;
}

.custom-form .form-group {
  width: 100%;
  margin: 10px 0;
}

.custom-form .custom-input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f8f8f8;
  color: #1f1f1f;
  border: 2px solid #3ac794;
  border-radius: 20px;
  padding: 0 20px;
}

.custom-form .custom-input:disabled {
  border-color: #a2a2a2;
}

.custom-form textarea.custom-input {
  line-height: normal;
  font-family: inherit;
}
/*# sourceMappingURL=custom-form.css.map */