.error-check {
  opacity: 0;
  position: absolute;
}

.error-check + label .error-section {
  display: -ms-grid;
  display: grid;
  max-width: 300px;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
  grid-column-gap: 20px;
  padding: 10px;
  background-color: #c90e36;
  color: #f3f3f3;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.error-check + label .error-section .error-icon {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-check + label .error-section .error-icon .error-icon-svg {
  width: 100%;
  height: 100%;
}

.error-check + label .error-section .error-content h3.error-title {
  margin: 0 0 10px;
}

.error-check + label .error-section .error-content p {
  margin: 0;
}

.error-check + label .error-section:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: .7;
}

.error-check:checked + label .error-section {
  -webkit-animation: .5s ease-in-out 0s hideerror;
          animation: .5s ease-in-out 0s hideerror;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.error-check:not(:checked) + label .error-section {
  -webkit-animation: 0.5s cubic-bezier(0.42, 0, 0.25, 1.82) 0s showerror;
          animation: 0.5s cubic-bezier(0.42, 0, 0.25, 1.82) 0s showerror;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hideerror {
  from {
    top: 10px;
    opacity: .7;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

@keyframes hideerror {
  from {
    top: 10px;
    opacity: .7;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

@-webkit-keyframes showerror {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}

@keyframes showerror {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}
/*# sourceMappingURL=error-mes.css.map */