* {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body nav.topnav {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 2;
}

body nav.topnav .brand {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  padding: 0 10px;
}

body nav.topnav .brand a {
  height: 70%;
}

body nav.topnav .brand a img {
  height: 100%;
}

body nav.topnav div.nav-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

body nav.topnav div.nav-wrapper div.left {
  margin-right: auto;
}

body nav.topnav div.nav-wrapper div.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav.topnav div.nav-wrapper div.nav-content a.nav-link {
  display: inline-block;
  line-height: 60px;
  color: #868686;
  text-decoration: none;
  padding: 0 15px;
}

body nav.topnav div.nav-wrapper div.nav-content a.nav-link.bg-dark {
  color: #f3f3f3;
}

body nav.topnav div.nav-wrapper div.nav-content a.nav-link:hover, body nav.topnav div.nav-wrapper div.nav-content a.nav-link.active {
  color: #1f1f1f;
}

body nav.topnav div.nav-wrapper div.nav-content a.avatar {
  width: 40px;
  height: 40px;
  background: center center/cover no-repeat url("/assets/images/user.png") !important;
  background-color: #7b7b7b !important;
  border-radius: 50%;
  border: 2px solid #7b7b7b;
}

body header.header {
  width: 100%;
  min-height: 100vh;
  margin-top: -60px;
  position: relative;
}

body header.header .bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #f3f3f3;
}

body header.header .bg #illustrator-svg {
  height: 100vh;
  width: auto;
  position: absolute;
  right: 0;
}

body header.header div.header-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  direction: rtl;
}

body header.header div.header-wrapper div.content {
  display: table;
  height: 100%;
}

body header.header div.header-wrapper div.content .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  text-align: center;
}

body header.header div.header-wrapper div.content .inner h2 {
  margin: 0;
}

body header.header div.header-wrapper div.content .inner form.sign-up-form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

body header.header div.header-wrapper div.content .inner form.sign-up-form .email-input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 0 100px 0 10px;
  -webkit-box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
}

body header.header div.header-wrapper div.content .inner form.sign-up-form .email-submit {
  height: 50px;
  border-radius: 0 10px 10px 0;
  border: none;
  border-bottom: 5px solid #218662;
  background-color: #2ab483;
  position: absolute;
  right: 0;
  top: 0;
  width: 95px;
  color: #f3f3f3;
  cursor: pointer;
}

body header.header div.header-wrapper div.content .inner form.sign-up-form .email-submit:hover {
  background-color: #239c72;
}

body header.header div.header-wrapper div.content .inner form.sign-up-form .email-submit:active {
  border-bottom: none;
}

body header.header div.header-wrapper div.illustration-wrapper {
  height: 100%;
}

body header.header div.header-wrapper div.illustration-wrapper div.illustration {
  height: 100%;
  width: 100%;
  background: center center/contain no-repeat url(/assets/images/illustration3.png);
  -webkit-animation: 1s ease-out 0s showup;
          animation: 1s ease-out 0s showup;
}

@-webkit-keyframes showup {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes showup {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

body header.header div.header-wrapper > * {
  direction: ltr;
}

body div.info {
  background-color: #e1f940;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

body div.info div.bg1 {
  background-color: #f3f3f3;
  -webkit-clip-path: polygon(39% 0px, 33.49% 20.5%, 14.04% 35.25%, 0 64.75%, 0px 0px);
          clip-path: polygon(39% 0px, 33.49% 20.5%, 14.04% 35.25%, 0 64.75%, 0px 0px);
  height: 60%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

body div.info div.bg2 {
  background-color: rgba(243, 243, 243, 0.5);
  -webkit-clip-path: polygon(41.73% 0px, 34.97% 25.75%, 14.34% 39.25%, 0px 64.75%, 0px 0px);
          clip-path: polygon(41.73% 0px, 34.97% 25.75%, 14.34% 39.25%, 0px 64.75%, 0px 0px);
  height: 60%;
  position: absolute;
  width: 100%;
  z-index: -2;
}

body div.info h2.title {
  font-weight: 100;
  font-size: 2.5em;
  padding: 0 10px;
}

body div.info div.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 2% 49%;
      grid-template-columns: 49% 2% 49%;
  padding: 10px 0;
}

body div.info div.content div.desc {
  padding: 0 10px;
  position: relative;
}

body div.info div.content div.desc .desc-content {
  display: -ms-grid;
  display: grid;
  font-weight: 300;
  grid-column-gap: 10px;
}

body div.info div.content div.desc .desc-content h3.title {
  font-weight: 400;
  margin: 0;
}

body div.info div.content div.desc .desc-content p {
  margin: 5px 0;
}

body div.info div.content div.desc .desc-content .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.info div.content div.desc .desc-content .icon .icon-container {
  margin: 0 auto;
  max-width: 60px;
}

body div.info div.content div.desc .desc-content .icon .icon-container img {
  width: 100%;
}

body div.info div.content div.left {
  -ms-grid-column: 1;
  grid-column: 1;
  text-align: right;
}

body div.info div.content div.left .desc-content {
  -ms-grid-columns: auto 80px;
      grid-template-columns: auto 80px;
}

body div.info div.content div.separator {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.info div.content div.right {
  -ms-grid-column: 3;
  grid-column: 3;
}

body div.info div.content div.right .desc-content {
  -ms-grid-columns: 80px auto;
      grid-template-columns: 80px auto;
}

body div.info div.content .separator::before {
  content: "";
  border: 1px dashed #272727;
  height: 100%;
  position: relative;
}

body div.info div.content div[class^="circle-parrent"] {
  width: 20px;
  height: 20px;
  background-color: #e14b4b;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  position: absolute;
  top: -10px;
  z-index: 10;
}

body div.info div.content div[class^="circle-parrent"] .circle-inner1 {
  width: 14px;
  height: 14px;
  background-color: #e1f940;
  margin: 0 auto;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

body div.info div.content div[class^="circle-parrent"] .circle-inner1 .circle-inner2 {
  width: 8px;
  height: 8px;
  background-color: #bd0909;
  margin: 0 auto;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

body div.info div.content div.circle-parrent-bot {
  bottom: -10px !important;
  top: unset;
}

body .testimonial {
  background-color: #f0f0f0;
  position: relative;
}

body .testimonial .bg1 {
  background: top left/100% 100% no-repeat url("/assets/images/bgtesti1.png");
  position: absolute;
  width: 100%;
  height: 95%;
  z-index: 0;
}

body .testimonial .slider-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  z-index: 1;
}

body .testimonial .slider-wrapper h1.title {
  text-align: center;
  font-weight: 100;
  margin-top: -50px;
}

body .testimonial .slider-wrapper .slider {
  position: relative;
}

body .testimonial .slider-wrapper .slider .button {
  position: absolute;
  height: 50px;
  width: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  border-radius: 50%;
  top: calc(50% - 25px);
  cursor: pointer;
  z-index: 1;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

body .testimonial .slider-wrapper .slider .button:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

body .testimonial .slider-wrapper .slider .button:active {
  background: #dddddd;
}

body .testimonial .slider-wrapper .slider .button.prev {
  left: calc(50% - 250px);
}

body .testimonial .slider-wrapper .slider .button.next {
  right: calc(50% - 250px);
}

body .testimonial .slider-wrapper .slider .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-perspective: 10px;
          perspective: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 286px;
}

body .testimonial .slider-wrapper .slider .slider-content .content {
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 286px;
  -webkit-transition: .485s all ease-in-out;
  transition: .485s all ease-in-out;
}

body .testimonial .slider-wrapper .slider .slider-content .content .person {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 55px;
}

body .testimonial .slider-wrapper .slider .slider-content .content .person .avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

body .testimonial .slider-wrapper .slider .slider-content .content .message {
  font-weight: 300;
  padding: 10px;
}

body .testimonial .slider-wrapper .slider .slider-content .content:first-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .testimonial .slider-wrapper .slider .slider-content .content:nth-child(-n+2) {
  -webkit-transform: translateX(-75px) translateZ(-2px);
          transform: translateX(-75px) translateZ(-2px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

body .testimonial .slider-wrapper .slider .slider-content .content:nth-child(3) {
  z-index: 1;
}

body .testimonial .slider-wrapper .slider .slider-content .content:nth-child(n+4) {
  -webkit-transform: translateX(75px) translateZ(-2px);
          transform: translateX(75px) translateZ(-2px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

body .testimonial .slider-wrapper .slider .slider-content .content:nth-child(n+5) {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: -1;
}

body .testimonial .slider-wrapper .slider .slider-content .content:nth-child(n+6) {
  display: none;
}

body .testimonial .slider-wrapper > * {
  z-index: inherit;
}

body footer.footer {
  background: #f0f0f0;
  overflow: hidden;
}

body footer.footer .footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (32%)[3];
      grid-template-columns: repeat(3, 32%);
  grid-column-gap: 3%;
}

body footer.footer .footer-wrapper .user-count {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  text-align: center;
  padding: 70px 10px;
  font-size: 1.8em;
  font-weight: 100;
}

body footer.footer .footer-wrapper .footer-content {
  padding: 10px;
}

body footer.footer .footer-wrapper .simple-about img {
  width: 100%;
}

body footer.footer .footer-wrapper .u-link-wrapper a {
  color: #1f1f1f;
  text-decoration: none;
}

body footer.footer .footer-wrapper .socials .social-icons {
  font-size: 2em;
}

body footer.footer .footer-wrapper .socials .social-icons .fa-facebook-square {
  color: #3b5998;
}

body footer.footer .footer-wrapper .socials .social-icons .fa-twitter {
  color: #00aced;
}

body footer.footer .footer-wrapper .socials .social-icons .fa-instagram {
  color: #e1306c;
}

body footer.footer .footer-wrapper .socials .social-icons .fa-youtube {
  color: #ff0000;
}

body footer.footer .footer-wrapper .copy {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding: 50px 10px;
  text-align: center;
  font-weight: 300;
}

body .dashboard-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  height: calc(100vh - 60px);
}

body .dashboard-content .sidenav {
  overflow-y: auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background: #f3f3f3;
}

body .dashboard-content .sidenav .user-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
  padding: 0 33px 10px;
}

body .dashboard-content .sidenav .user-profile .avatar {
  width: auto;
  height: 50px;
  background: center center/cover no-repeat url("/assets/images/user.png") !important;
  background-color: #b3b3b3 !important;
  border-radius: 50%;
  border: 2px solid #b4b4b4;
}

body .dashboard-content .sidenav .user-profile .name {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 50px;
}

body .dashboard-content .sidenav .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .dashboard-content .sidenav .nav-content .nav-link {
  line-height: 40px;
  text-decoration: none;
  color: #868686;
  padding-left: 33px;
  outline: none;
}

body .dashboard-content .sidenav .nav-content .nav-link:hover, body .dashboard-content .sidenav .nav-content .nav-link.active {
  background-color: #e6e6e6;
  color: #1f1f1f;
}

body .dashboard-content .sidenav .nav-content.top {
  margin-bottom: auto;
}

body .dashboard-content .sidenav .nav-content.bottom {
  border-top: 1px solid #d2d2d2;
  padding-top: 10px;
}

body .dashboard-content .fragment {
  overflow-y: auto;
  position: relative;
  background-color: #f8f8f8;
}

body .dashboard-content .fragment .loader-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .animation-loading {
  width: 200px;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .animation-loading .animation-svg {
  width: 100%;
  height: auto;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .animation-loading .animation-svg .sad {
  display: none;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .animation-loading .animation-svg .remover {
  fill: #f8f8f8 !important;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .show-animation {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: 0.5s cubic-bezier(0.42, 0, 0.51, 1.41) 0s showAnimation;
          animation: 0.5s cubic-bezier(0.42, 0, 0.51, 1.41) 0s showAnimation;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .hide-animation {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: 0.5s ease-in-out 0s hideAnimation;
          animation: 0.5s ease-in-out 0s hideAnimation;
}

@-webkit-keyframes showAnimation {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showAnimation {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hideAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes hideAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

body .dashboard-content .fragment .loader-wrapper .animation-container .loader-error-section {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .loader-error-section .error-title {
  font-size: 2em;
  font-weight: 100;
  margin: 20px 0 0;
  text-align: center;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .loader-error-section .error-title::first-letter {
  text-transform: uppercase;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .loader-error-section .error-details {
  font-weight: 300;
}

body .dashboard-content .fragment .loader-wrapper .animation-container .loader-error-section.show-error {
  -webkit-animation: 0.3s cubic-bezier(0.42, 0, 0.51, 1.41) 0s showError;
          animation: 0.3s cubic-bezier(0.42, 0, 0.51, 1.41) 0s showError;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes showError {
  from {
    display: none;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    display: -webkit-box;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showError {
  from {
    display: none;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body .dashboard-content .fragment .fragment-content {
  color: #1f1f1f;
  min-height: 100%;
  position: relative;
  display: none;
  padding: 10px 30px;
}

body .dashboard-content .fragment .fragment-content .summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 3))[3];
      grid-template-columns: repeat(3, calc(100% / 3));
}

body .dashboard-content .fragment .fragment-content .summary-section {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

body .dashboard-content .fragment .fragment-content .summary-section .title {
  font-weight: bold;
}

body .dashboard-content .fragment .fragment-content .summary-section.numstudent, body .dashboard-content .fragment .fragment-content .summary-section.rank {
  background-color: #e1f940;
}

body .dashboard-content .fragment .fragment-content .summary-section.numcourse, body .dashboard-content .fragment .fragment-content .summary-section.course-read {
  background-color: #10bc9d;
}

body .dashboard-content .fragment .fragment-content .summary-section.numexam, body .dashboard-content .fragment .fragment-content .summary-section.exam-finished {
  background-color: #ec6d6d;
}

body .dashboard-content .fragment .fragment-content .loader-make {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
  width: 300px;
  padding: 10px;
  opacity: .5;
  opacity: 1;
  background-color: #1f1f1fb3;
  border-radius: 20px;
  color: #f3f3f3;
  position: absolute;
  top: calc(50vh - 60px);
  left: calc(50% - 150px);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  display: none;
}

body .dashboard-content .fragment .fragment-content .loader-make .spin {
  width: 100px;
  height: 100px;
  border: 12px solid #f2f2f2;
  border-radius: 50%;
  border-right-color: transparent;
  border-left-color: transparent;
  -webkit-animation: 1s linear 0s spin;
          animation: 1s linear 0s spin;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .dashboard-content .fragment .fragment-content .loader-make .message {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .dashboard-content .fragment .fragment-content .custom-form-exam .quest-section .title {
  font-weight: bold;
  margin-top: 20px;
}

body .dashboard-content .fragment .fragment-content .custom-form-exam .quest-section textarea {
  min-width: 100%;
  min-height: 150px;
  height: 150px;
}

body .dashboard-content .fragment .fragment-content .custom-form-exam .quest-section .ans-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
}

body .dashboard-content .fragment .fragment-content .custom-form-exam .quest-section .ans-section textarea {
  min-width: 100%;
  min-height: 50px;
  height: 50px;
}

body .dashboard-content .fragment .fragment-content .dataTables_wrapper {
  margin: 20px 0;
}

body .dashboard-content .fragment .fragment-content .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .dashboard-content .fragment .fragment-content .exam-container {
  min-height: calc(100vh - 180px);
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px auto 32px 100px;
      grid-template-columns: 150px auto 32px 100px;
  background-color: #3f6187;
  padding: 10px;
  color: #fff;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation .go-to {
  background-color: #fff;
  color: #1f1f1f;
  padding: 3px 5px;
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation .exam-map {
  position: absolute;
  background-color: #fff;
  color: #1f1f1f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px)[10];
      grid-template-columns: repeat(10, 40px);
  top: 44px;
  left: 6px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  -webkit-animation: .5s ease-in-out 0s showmap;
          animation: .5s ease-in-out 0s showmap;
  display: none;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation .exam-map::before {
  content: "";
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 9px solid #fff;
  top: -9px;
  left: 12px;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation .exam-map .number {
  padding: 3px 5px;
  text-align: center;
  background-color: #bfbfbf;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation .exam-map .number.filled {
  background-color: #42c4ef;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation .exam-map .number.marked {
  background-color: #e07e7e;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .navigation .exam-map .number.current {
  background-color: #3f6187;
  color: #fff;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .detail {
  line-height: 32px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .detail span:nth-child(n+2) {
  padding-left: 15px;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-header .countdown {
  background-color: #fff;
  padding: 3px 5px;
  color: #1f1f1f;
  border-radius: 8px;
  line-height: 26px;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-content {
  padding: 10px;
  text-align: justify;
}

body .dashboard-content .fragment .fragment-content .exam-container .exam-content .answer-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px auto;
      grid-template-columns: 32px auto;
  grid-gap: 5px;
  margin-top: 20px;
}

body .dashboard-content .fragment .fragment-content .exam-result {
  background: #f3f3f3;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  display: none;
}

body .dashboard-content .fragment .fragment-content .exam-result .exam-title {
  font-weight: bold;
  font-size: 1.5em;
}

body .dashboard-content .fragment .fragment-content .exam-result .result {
  font-weight: bold;
  margin: 15px 0 0;
}

body .dashboard-content .fragment .fragment-content .exam-result .button-group {
  margin-top: 20px;
}

body .dashboard-content .fragment .fragment-content .chat-container {
  background-color: #f3f3f3;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

body .dashboard-content .fragment .fragment-content .chat-container .from {
  padding: 10px;
  background-color: #47b14c;
  color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages {
  padding: 30px 70px;
  height: calc(100vh - 280px);
  overflow-y: auto;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container .bubble {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  max-width: 70%;
  position: relative;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container .bubble.my {
  margin-left: auto;
  border-radius: 10px 0 10px 10px;
  background-color: #dcf8c6;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container .bubble.my::before {
  content: "";
  border-bottom: 12px solid transparent;
  border-left: 10px solid #dcf8c6;
  position: absolute;
  right: -10px;
  top: 0;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container .bubble.other {
  border-radius: 0 10px 10px 10px;
  background-color: #fff;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container .bubble.other::before {
  content: "";
  border-bottom: 12px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  left: -10px;
  top: 0;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container .bubble .name {
  font-weight: bold;
  padding: 10px 0;
}

body .dashboard-content .fragment .fragment-content .chat-container .chat-messages .bubble-container .bubble .time-stamp {
  font-size: .8em;
  margin-top: 10px;
  color: #414141;
  font-style: italic;
}

body .dashboard-content .fragment .fragment-content .chat-container .text {
  padding: 20px;
  -webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

body .dashboard-content .fragment .fragment-content .chat-container .text #message {
  border-radius: 10px;
  line-height: 40px;
  background-color: #fff;
  color: #1f1f1f;
  padding: 0 20px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid #dadada;
}

body .login-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: center center/cover url("/assets/images/loginback.png");
}

body .login-wrapper .form-container {
  background-color: #f2f2f2;
  padding: 20px 35px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

body .login-wrapper .form-container .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-wrapper .form-container .title-section img {
  max-width: 125px;
}

body .login-wrapper .form-container .title-section h1 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 300;
}

body .login-wrapper .form-container .login-form {
  margin-top: 35px;
}

body .login-wrapper .form-container .login-form .form-group {
  margin: 25px 0;
  position: relative;
}

body .login-wrapper .form-container .login-form .form-group .input {
  width: 300px;
  line-height: 40px;
  background-color: #f9f9f9;
  border: 0;
  padding: 0 22px 0 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #1f1f1f;
}

body .login-wrapper .form-container .login-form .form-group.username::before, body .login-wrapper .form-container .login-form .form-group.password::before {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 10px 0 0 10px;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

body .login-wrapper .form-container .login-form .form-group.username::before {
  content: "\f007";
}

body .login-wrapper .form-container .login-form .form-group.password::before {
  content: "\f023";
}

body .login-wrapper .form-container .login-form .form-group.submit-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .login-wrapper .form-container .login-form .form-group.submit-area .submit::before {
  content: "\f2f6";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1px;
  font-weight: 900;
  padding-right: 8px;
}

body .signup-container {
  background: center center/cover no-repeat url(/assets/images/loginback.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .signup-container .form-container {
  background-color: #f2f2f2;
  padding: 20px 35px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  margin: 50px;
  width: 500px;
}

body .signup-container .form-container .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .signup-container .form-container .title-section img {
  max-width: 125px;
}

body .signup-container .form-container .title-section .title {
  margin: 0;
  font-size: 1.3em;
  font-weight: 300;
}

body .signup-container .form-container .signup-form {
  margin-top: 35px;
}

body .signup-container .form-container .signup-form .form-group {
  margin: 8px 0;
  position: relative;
}

body .signup-container .form-container .signup-form .form-group::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 10px 0 0 10px;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

body .signup-container .form-container .signup-form .form-group.name::before {
  content: "\f406";
}

body .signup-container .form-container .signup-form .form-group.school::before {
  content: "\f549";
}

body .signup-container .form-container .signup-form .form-group.grade::before {
  content: "\f19d";
}

body .signup-container .form-container .signup-form .form-group.birthdate::before {
  content: "\f1fd";
}

body .signup-container .form-container .signup-form .form-group.address::before {
  content: "\f3c5";
}

body .signup-container .form-container .signup-form .form-group.phone::before {
  content: "\f095";
}

body .signup-container .form-container .signup-form .form-group.email::before {
  content: "\f1fa";
}

body .signup-container .form-container .signup-form .form-group.password::before {
  content: "\f023";
}

body .signup-container .form-container .signup-form .form-group .input {
  width: 100%;
  line-height: 40px;
  background-color: #f9f9f9;
  border: 0;
  padding: 0 22px 0 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #1f1f1f;
  height: 40px;
}

body .signup-container .form-container .signup-form .radio-group {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .signup-container .form-container .signup-form .radio-group .radiobox + label {
  margin: 10px 30px;
}

body .signup-container .form-container .signup-form .submit-area {
  margin: 35px 0;
  text-align: center;
}

body .about-container .title {
  font-weight: bold;
  font-size: 1.3em;
  margin: 20px 0;
}

body .about-container .person {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  grid-gap: 20px;
  margin: 20px 0;
}

body .about-container .person .person-avatar img {
  border-radius: 50%;
}

body .about-container .person .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .about-container .person .detail div {
  padding: 5px 0;
}

.action-btn {
  padding: 5px;
  cursor: pointer;
}

.action-btn.yellow:hover {
  color: #c0c007;
}

.action-btn.grey:hover {
  color: #686868;
}

.action-btn.lgrey:hover {
  color: #cecece;
}

.action-btn.blue:hover {
  color: #00aced;
}

.action-btn.red:hover {
  color: #de5252;
}

.main-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  line-height: 40px;
  text-decoration: none;
  padding: 0 15px;
  border-radius: 7px;
  margin: 0 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
}

.btn.red {
  background-color: #de5252;
  color: #f3f3f3;
}

.btn.red:hover {
  background-color: #a83f3f;
}

.btn.yellow {
  background-color: #e1f940;
  color: #1f1f1f;
}

.btn.yellow:hover {
  background-color: #c1d637;
}

.btn.green {
  background-color: #2ab483;
  color: #f3f3f3;
}

.btn.green:hover {
  background-color: #22926b;
}

.btn.lgrey {
  background-color: #ededed;
  color: #1f1f1f;
}

.btn.lgrey:hover {
  background-color: #cecece;
}

.btn.round {
  border-radius: 20px;
}

button.btn:disabled, input.btn:disabled {
  background-color: #d1d1d1 !important;
  color: #696969 !important;
}

@-webkit-keyframes showmap {
  from {
    top: 70px;
    opacity: 0;
  }
  to {
    top: 44px;
    opacity: 1;
  }
}

@keyframes showmap {
  from {
    top: 70px;
    opacity: 0;
  }
  to {
    top: 44px;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */